.cells {
	width: 150px;
	height: 150px;
	background-color: lime;
	border: 2px solid red;
	float: left;
	color: white;
}

.container {
	width: 462px;
	margin: 0 auto;
}

.bgblue {
	background-color: blue;
}